<html>
<head>
    <title>About me</title>
    <link rel="icon" href="../img/kwardtech_favicon.png">
    <link rel="stylesheet" href="../styles/design.css">
    <script type="text/javascript" src="../scripts/buttons.js"></script>
</head>
<body>

    <!--    Page Header     -->
    <div class="page_header" id="header_container">

        <!--    Title   -->
        <h1 id="header_title">About me</h1>

        <!--    Navigation Bar  -->
        <div id="nav-bar">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a class="active" href="about.html">About Me</a></li>
                <li><a href="research.html">Research</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <hr /> <!-- End of header line  -->
        <br>


    </div>

    <!--    Main page content   -->
    <div class="page_main" id="main_container">
        
        <!--    Introduction Section   -->
        <h2 id="section-title"><b>Introduction</b></h2>
        <hr class="section-break">
        <br>
        <p class="section-p">Beginning of intro paragraph</p>
        
        <div class="section-spacing"></div>

        <!--    Work Section    -->
        <h2 id="section-title"><b>Work</b></h2>
        <hr class="section-break">
        <br>
        <p class="section-p">Beginning of work paragraph</p>


        <!--    In development notice
        <h4 id="dev_notice"><i>This site is currently in development!</i></h4>
        -->
    </div>


</body>


</html>