<html>
<head>
    <title>Contact</title>
    <link rel="icon" href="../img/kwardtech_favicon.png">
    <link rel="stylesheet" href="../styles/design.css">
    <script type="text/javascript" src="../scripts/buttons.js"></script>
</head>
<body>

    <!--    Page Header     -->
    <div class="page_header" id="header_container">

        <!--    Title   -->
        <h1 id="header_title">Contact</h1>

        <!--    Navigation Bar  -->
        <div id="nav-bar">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About Me</a></li>
                <li><a href="research.html">Research</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a class="active" href="contact.html">Contact</a></li>
            </ul>
        </div>

        <hr /> <!-- End of header line  -->
        <br>


    </div>

    <!--    Main page content   -->
    <div class="page_main" id="main_container">
        
        <!--In development notice-->
        <h4 id="dev_notice"><i>This site is currently in development!</i></h4>
        <br><br>
    </div>


</body>


</html>