<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="../img/kwardtech_favicon.png">
        <link rel="stylesheet" href="../styles/design.css">
        <script type="text/javascript" src="../scripts/buttons.js"></script>
    </head>

    <body>

        <!--    Main page container -->
        <div class="main-container">
            
            <!--    Page header -->
            <div class="page_header">
                <h1 id="header_title">Home</h1>
                <br>

                <!--    Navigation Bar  -->
                <div id="nav-bar">
                    <ul>
                        <li><a class="active" href="#home">Home</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#research">Research</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>

                </div>

                <hr /> <!-- End of header line  -->
                <br>
            </div>


        <!--    Background image    -->
        <div class="bg-image" id="main-bg-image">
            <button class="nav-button" id="nav-btn-test" onclick=handleNavTestBtn()>Nav button test</button>
        
        </div>
    </div>


    </body>
</html>