<html>
<head>
    <title>Research</title>
    <link rel="icon" href="img/kwardtech_favicon.png">
    <link rel="stylesheet" href="styles/design.css">
</head>
<body>

    <!--    Page Header     -->
    <div class="page_header" id="header_container">
        <br>

        <!--    Title   -->
        <h1 id="header_title">Research</h1>
        <hr /> <!-- End of header line  -->
        <br>


    </div>

    <!--    Main page content   -->
    <div class="page_main" id="main_container">
        
        <!--In development notice-->
        <h4 id="dev_notice"><i>This site is currently in development!</i></h4>
        <br><br>
    </div>


</body>


</html>