:root {
    --main-txt-color: #b3001b;
    --main-txt-bg: #f2f2f2de;
    --secondary-color: rgb(99, 163, 248);
    --main-bg-color: #101018;
    font-family: 'Ubuntu', sans-serif;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 4px var(--main-txt-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px var(--main-bg-color);
}
::-webkit-resizer,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner { display: none; }

/*      STYLE BY TAG    */
html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    height: 99vh;
    width: 99vw;
    position: absolute;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    text-shadow: 0px 0px 1px var(--main-txt-bg);
    padding-left: 15px;
    overflow-y: scroll;
}

/*      STYLE BY Class    */
.page-title {
    margin-top: 22%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 64px;
}

.section-title {
    margin-top: 20%;
    text-align: center;
    font-size: 64px;
}

.page-section {
    height: 75vh;
}


.section-bg-img {
    background-repeat: no-repeat;
    background-size: cover;
}

/*      LINE DIVIDERS   */
hr.divider10pct {
    width: 10%;
}

hr.divider15pct {
    width: 15%;
}

hr.divider80pct {
    width: 80%;
}

hr.divider90pct {
    width: 90%;
}

hr.divider95pct {
    width: 95%;
}

/*      LINE BREAKS     */
hr.px5 {
    height: 5px;
    visibility: hidden;
}

hr.px10 {
    height: 10px;
    visibility: hidden;
}

hr.px20 {
    height: 20px;
    visibility: hidden;
}

hr.px30 {
    height: 30px;
    visibility: hidden;
}

hr.px50 {
    height: 50px;
    visibility: hidden;
}

hr.px75 {
    height: 75px;
    visibility: hidden;
}

hr.px100 {
    height: 100px;
    visibility: hidden;
}

hr.px120 {
    height: 120px;
    visibility: hidden;
}

hr.px200 {
    height: 200px;
    visibility: hidden;
}

hr.px215 {
    height: 215px;
    visibility: hidden;
}

hr.pct80 {
    height: 80%;
    visibility: hidden;
}

hr.pct50 {
    height: 50%;
    visibility: hidden;
}